@tailwind base;
@tailwind components;
@tailwind utilities;

/* To initialise tailwind */
/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */
@font-face {
  font-family: "YourFont";
  src: url("../fonts/TTNorms-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YourFont";
  src: url("../fonts/TTNorms-ExtraBoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: "YourFont", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  @apply md:w-[95%] w-[100%] mx-auto
}

.nav-link.active{
  @apply lg:bg-secBlack/30 lg:backdrop-blur-lg p-1
}

.stat-card {
  box-shadow: 5px 5px 10px #796fab55;
}
.stat-card:hover svg{
  @apply scale-[2.0] transition-all
}
.newsletter:after{
  background: url(images/asset2.png);
  background-size: cover;
  background-position: center;
  color: #00000025;
  @apply content-[""] h-full z-[-1] absolute top-0 left-0 w-full opacity-30
}


.general{
  /* scroll-snap-type: x mandatory; */
  @apply flex gap-[2rem] justify-around overflow-scroll snap-x snap-mandatory
}
.general::-webkit-scrollbar{
  @apply hidden
}
.general > div{
  @apply snap-start overflow-hidden border-4 border-accPink shadow-[5px_5px_20px] shadow-accYellow/20 lg:min-w-[50%] md:min-w-full min-w-[130%] md:h-[250px] h-max
}
.apply-btn{
  box-shadow: inset -5px -5px 5px #eff6f839, -5px -5px 5px #eff6f839;
}
@media (max-width: 991px) {
  .apply-btn{
    box-shadow: inset -5px -5px 5px #796faba8, -5px -5px 5px #796faba8 !important;
  }
}